@import url('reset.css');
@import url('variables.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/buttons/buttons.css');
@import url('components/buttons/burger-button.css');
/* @import url('css/components/sections/hero.css');
@import url('css/components/cards/card-s.css');
@import url('css/components/cards/card-l.css');
@import url('css/pages/index.css'); */


/* Global styling */
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
        'skip2main'
        'header'
        'breadcrumbs'
        'main'
        'footer';
}

main {
    grid-area: main;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    font-size: var(--heading-medium);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--heading-small);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--heading-xsmall);
    font-weight: var(--font-weight-semibold);
}

p,
a,
label,
input,
li,
textarea {
    font-family: var(--font-body);
    font-size: var(--body-small);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.current {
    text-decoration: underline 0.15em rgb(254, 254, 254, 1);
}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.skip2main {
    grid-area: skip2main;
}

.skip2main:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    z-index: 100;
    clip: auto;
}