.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);

    background-image: linear-gradient(#0d0d0d65, #0d0d0d77 20%, #0d0d0dc3 30% 70%, #0d0d0d77 80%, hsla(0, 0%, 5%, 0.396)),
        url(../../../assets/images/scott-webb-102825.webp);
    background-size: cover;
    min-height: 85vh;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xlarge);
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
    max-width: 1028px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    max-width: 720px;
}

.hero__text__p {
    font-size: var(--body-large);
    line-height: 28px;
}

.hero__cta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-medium);
    max-width: 720px;
}