.hero-small {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-image: linear-gradient(#0D0D0D90, #0D0D0D90),
        url(/assets/images/night-at-museum-roberto-nickson.webp);
    background-size: cover;
    min-height: 85vh;
}

.hero-small__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xlarge);
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
    max-width: 1028px;
}

.hero-small__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    max-width: 720px;
}

.hero-small__text__p {
    font-size: var(--body-large);
    line-height: 28px;
}

.hero-small__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-medium);
    max-width: 720px;
}

.hero-small__image-container {
    display: none;
}

/* Tablet 768px */
@media (min-width: 768px) {
    .hero-small {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        background-image: none;
        background-color: var(--color-black);
        gap: 16px;
        min-height: 60vh;
    }

    .hero-small__content {
        padding-right: 0;
        max-width: 50%;
    }

    .hero-small__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: var(--padding-large);
    }

}

/* Laptop 1024px */
@media (min-width: 1024px) {

    .hero-small__content {
        max-width: 504px;
    }

    .hero-small__image-container {
        max-width: 504px;
    }
}