/* Base Button Styles */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-body);
    line-height: 1.5em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 12px 16px;
    font-size: 16px;
}

.button.primary {
    background-color: var(--color-grey);
    color: var(--color-white);
    background-image: url('../../../assets/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: top 18px right 16px;
    background-size: 0.83em;
    padding-right: 40px;
}

.button.primary:hover {
    background-color: var(--color-darkgrey);
}

/* Secondary Button */
.button.secondary {
    background-color: var(--color-darkgrey);
    color: var(--color-white);
    border: 1px solid var(--color-grey);
    background-image: url('../../../assets/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: top 12px right 16px;
    background-size: 0.83em;
}

.button.secondary:hover {
    background-color: var(--color-grey);
    border: 1px solid var(--color-darkgrey);
}

.button.read-more {
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/icons/arrow-down.svg');
}

/* Button Sizes */
.button.medium {
    padding: 8px 40px 8px 8px;
    background-position: top 14px right 16px;
    font-size: 16px;
}

.button.small {
    padding: 8px 30px 8px 12px;
    font-size: 14px;
    background-position: top 14px right 12px;
    background-size: 0.67em;
}

/* Button Color */
.button.pink {
    background-color: var(--color-funpink);
}

/* Button arrow */
.button.never-arrow {
    background-image: none;
    padding-right: 16px;
}

@media (max-width: 375px) {
    .button.no-arrow {
        background-image: none;
        padding-right: 16px;
    }
}