.card-xl {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    align-items: center;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
}

.card-xl__main-image {
    display: flex;
    justify-content: center;
    height: 246px;
}

.card-xl__main-image img {
    object-fit: cover;
    width: 100%;
}

.card-xl__extra-image-container {
    display: none;
}

.card-xl__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding: var(--padding-large);
}

.card-xl__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-white);
    gap: var(--gap-xsmall);
    padding: var(--padding);
}

.card-xl__date {
    font-size: var(--body-small);
    line-height: 20px;
}

.card-xl__heading {
    font-size: var(--heading-xxsmall);
}

.card-xl__description {
    display: flex;
    font-size: var(--body-small);
}

.card-xl__badge,
.card-xl__description--long,
.card-xl__social,
a.card-xl__cta--large,
.card-xl__activities {
    display: none;
}


/* Media queries */
/* Tablet 764px */
@media (min-width: 768px) {
    .card-xl {
        display: flex;
        flex-direction: row;
        gap: 32px;
        min-width: 700px;
        max-width: 980px;
        height: 450px;
        align-items: center;
        background-color: var(--color-black);
        border: 1px solid var(--color-black);
        padding: var(--padding-large)
    }

    .card-xl__images {
        display: flex;
        max-width: 50%;
        max-height: 100%;
        justify-content: center;
        height: 100%;
        order: 2;
    }

    .card-xl__content {
        display: flex;
        max-width: 50%;
        justify-self: flex-start;
        flex-direction: column;
        gap: var(--gap-large);
        padding: 0;
        order: 1;
    }

    .card-xl__text {
        display: flex;
        flex-direction: column;
        width: 280px;
        color: var(--color-white);
        gap: var(--gap-medium);
        padding: var(--padding);
    }

    .card-xl__date {
        font-size: var(--body-small);
        line-height: 20px;
    }

    .card-xl__heading {
        font-size: var(--heading-medium);
    }

    .card-xl__description {
        display: flex;
        font-size: var(--body-small);
    }

    .card-xl__main-image {
        display: flex;
        max-height: 100%;
        justify-content: center;
        height: 100%;
    }

    .card-xl__main-image img,
    .card-xl__image--left img {
        object-fit: cover;
    }

    .card-xl__cta {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px
    }

    a.card-xl__cta--small {
        display: none;
    }

    a.card-xl__cta--large {
        display: initial;
    }

    /* Mirrored variant */
    .card-xl__images.left {
        display: flex;
        max-width: 50%;
        max-height: 100%;
        justify-content: center;
        height: 100%;
        order: 1;
    }

    .card-xl__content.right {
        display: flex;
        max-width: 50%;
        justify-self: flex-start;
        flex-direction: column;
        gap: var(--gap-large);
        padding: 0;
        order: 2;
    }
}

/* Laptop 1024px*/
@media (min-width: 1024px) {
    .card-xl {
        display: flex;
        flex-direction: row;
        gap: 80px;
        min-width: 700px;
        max-width: 1024px;
        height: 610px;
        justify-content: center;
        align-items: center;
        background-color: var(--color-black);
        border: 1px solid var(--color-black);
        padding: var(--padding-large)
    }

    .card-xl__content {
        display: flex;
        width: 50%;
        justify-self: flex-start;
        flex-direction: column;
        gap: var(--gap-medium);
        padding: 0;
        order: 1;
    }

    .card-xl__main-image {
        height: 60%;
    }

    .card-xl__main-image img {
        width: 100%;
    }

    .card-xl__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--color-white);
        gap: var(--gap-large);
        padding: var(--padding);
    }

    .card-xl__badge {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: max-content;
        gap: var(--gap-small);
        order: 1;
        border: 1px solid var(--color-white);
        padding: var(--padding-xsmall);
        padding-right: var(--padding-small);
    }

    .card-xl__exclamation {
        text-transform: uppercase;
        border: 1px solid var(--color-white);
        padding: var(--padding-small);
    }

    .card-xl__date {
        font-size: var(--body-small);
        line-height: 20px;
        order: 4;
    }

    .card-xl__heading {
        font-size: var(--heading-large);
        order: 2;
    }

    .card-xl__description {
        display: none;
    }

    .card-xl__description--long {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xsmall);
        font-size: var(--body-large);
        order: 3;
    }

    .card-xl__activities {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--gap-medium);
        order: 5;
    }

    .activities__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: var(--gap-medium);
        padding: 0px;
    }

    .activities__list li {
        font-size: var(--body-xsmall);
        background-color: var(--color-grey);
        padding: var(--padding-small);
        list-style: none;
    }

    .card-xl__cta {
        gap: var(--gap-medium);
    }

    .card-xl__social {
        display: flex;
        align-items: center;
        gap: var(--gap-medium);
        color: white;
    }

    .card-xl__images {
        display: flex;
        flex-direction: column;
        width: 50%;
        order: 2;
    }

    .card-xl__main-image {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .card-xl__main-image img {
        object-fit: cover;
    }

    .card-xl__extra-image-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .card-xl__extra-image {
        display: flex;
        justify-content: center;
        padding-top: var(--padding-small);
        height: 140px;
        width: 140px;
    }

    .card-xl__extra-image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* Mirrored variant */
    .card-xl__images.left {
        display: flex;
        max-width: 50%;
        max-height: 100%;
        height: 100%;
        justify-content: center;
        order: 1;
    }

    .card-xl__content.right {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 50%;
        justify-self: flex-start;
        flex-direction: column;
        gap: var(--gap-medium);
        padding: 0;
        order: 2;
    }
}