@import url('../components/sections/hero.css');
@import url('../components/cards/card-s.css');
@import url('../components/cards/card-l.css');
@import url('../components/sections/card-s-section.css');

/* Sections */
.section__header {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    max-width: 1024px;
    margin: 0 auto 0 auto;
}

/* Exhibitions section */
.exhibitions-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkgrey);
}

.exhibitions-cta__heading {
    color: var(--color-white);
    padding-top: var(--padding-medium);
}

.exhibition-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding: var(--padding-medium);
}

/* Media queries */
/* Tablet 768px */
@media (min-width: 768px) {
    .section__header {
        max-width: 736px;
    }

    .exhibitions-cta__heading {
        width: 736px;
    }
}

/* Laptop 1024px */
@media (min-width: 1024px) {
    .section__header {
        max-width: 1024px;
    }

    .exhibitions-cta__heading {
        width: 1024px;
        padding-left: 16px;
    }

    .exhibition-cards {
        gap: var(--gap-large);
    }
}

/* Laptop L 1200px */
@media (min-width: 1200px) {

    .exhibitions-cta__heading {
        padding-left: 0;
    }
}