@import url('../components/sections/hero-small.css');
@import url('../components/cards/card-s.css');
@import url('../components/cards/card-m.css');
@import url('../components/sections/info-section.css');


/* Getting here section */
.getting-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
}

.getting-here__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding: var(--padding-medium);
}