@import url('/css/components/sections/hero-small.css');
@import url('/css/components/cards/card-s.css');
@import url('/css/components/cards/card-m.css');

/* Sections */
.section__header {
    display: flex;
    min-width: 328px;
    max-width: 330px;
    margin: 0 auto 0 auto;
}

.section__heading {
    color: var(--color-white);
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-small);
}

/* Opening hours section */
.opening-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkgrey);
}

.opening-hours__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding: var(--padding-medium);
}

.opening-hours__specific {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    min-width: 328px;
    max-width: 330px;
    margin: 0 auto 0 auto;
    padding-top: var(--padding-large);
    color: var(--color-white);
}

.opening-hours__specific p {
    font-size: var(--body-large);
}

/* Getting here section */
.getting-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
}

.getting-here__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding: var(--padding-medium);
}

/* Prices section */
.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkgrey);
}

.prices__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    gap: var(--gap-medium);
    padding: var(--padding-medium);
}

.prices__specific {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    min-width: 328px;
    max-width: 330px;
    margin: 0 auto 0 auto;
    padding-top: var(--padding-large);
    color: var(--color-white);
}

.prices__specific p {
    font-size: var(--body-large);
}

/* Media queries */
/* Tablet 768px */
@media (min-width: 768px) {
    .section__header {
        max-width: 1008px;
        width: 736px;
    }
}

/* 800px */
@media (min-width: 800px) {

    /* Opening hours section */
    .museum-open {
        grid-area: museum-open;
    }

    .museum-card {
        grid-area: museum-card;
    }

    .cafe-open {
        grid-area: cafe-open;
    }

    .cafe-card {
        grid-area: cafe-card;
    }

    .shop-open {
        grid-area: shop-open;
    }

    .shop-card {
        grid-area: shop-card;
    }

    .opening-hours__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        grid-template-areas:
            'museum-open cafe-open shop-open'
            'museum-card cafe-card shop-card';
    }

    .opening-hours__specific {
        gap: var(--gap-medium);
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        padding-top: var(--padding-small);
        padding-bottom: var(--padding-small);
    }

    .opening-hours__specific p {
        font-size: var(--body-small);
    }

    /* Prices section */
    .admission-text {
        grid-area: admission-text;
    }

    .admission-card {
        grid-area: admission-card;
    }

    .tours-text {
        grid-area: tours-text;
    }

    .tours-card {
        grid-area: tours-card;
    }

    .schools-text {
        grid-area: schools-text;
    }

    .schools-card {
        grid-area: schools-card;
    }

    .prices__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        grid-template-areas:
            'admission-text tours-text schools-text'
            'admission-card tours-card schools-card';
    }

    .prices__specific {
        gap: var(--gap-medium);
        min-width: 0px;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        padding-top: var(--padding-small);
        padding-bottom: var(--padding-small);
    }

    .prices__specific p {
        font-size: var(--body-small);
    }

}

/* Laptop 1024px */
@media (min-width: 1024px) {
    .section__header {
        width: 1008px;
    }

    .opening-hours__cards,
    .prices__cards {
        max-width: 1024px;
    }

    .opening-hours__specific,
    .prices__specific {
        gap: var(--gap-medium);
        min-width: 300px;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        padding-top: var(--padding-large);
        padding-bottom: var(--padding-small);
    }

    .opening-hours__specific p,
    .prices__specific p {
        font-size: var(--body-large);
    }
}

/* Laptop L 1200px */
@media (min-width: 1200px) {

    .opening-hours__cards,
    .prices__cards {
        padding: 0px;
    }
}