@import url('../components/cards/card-s.css');
@import url('../components/cards/card-m.css');
@import url('../components/cards/card-l.css');
@import url('../components/cards/card-xl.css');

/* Global sections styling  */
.section__header {
    display: flex;
    min-width: 318px;
    max-width: 330px;
    margin: 0 auto 0 auto;
}

.section__heading {
    color: var(--color-funpink);
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-small);
}

.videos .card-m__pre-heading,
.videos .card-s__date,
.ysc-cta .card-xl__badge,
.ysc-cta .card-xl__exclamation,
.ysc-cta .card-xl__message {
    color: var(--color-funyellow);
    border-color: var(--color-funyellow);
}

.play h3 {
    color: var(--color-funpink);
}

.play p {
    color: var(--color-funteal);
}

.video--large,
.video--small {
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* Videos sections */
.videos--robots {
    background-color: var(--color-black);
}

.videos--optical {
    background-color: var(--color-darkgrey);
}

.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videos__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding: var(--padding-medium);
}

.videos__content__extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

.card-m {
    max-width: 100%;
}

.videos__content__main .card-m__image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
}


/* Youth Science Club section */
.ysc-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
}

.play .card-xl__date,
.play .card-xl__activities p {
    color: var(--color-white);
}

/* Media queries */
@media (min-width: 550px) {
    .card-s {
        width: calc(50% - (0.5 * var(--gap-medium)));
    }

    .videos__content__main .card-m__image {
        height: 32.25rem;
        width: 100%;
    }
}

/* Tablet 768px */
@media (min-width: 768px) {
    .section__header {
        display: flex;
        min-width: 736px;
        max-width: none;
        margin: 0 auto 0 auto;
    }

    .card-s {
        max-width: 359px;
    }

    .card-m {
        max-width: 736px;
    }

    .card-m__image {
        height: 500px;
    }

    .card-s__image.small {
        min-height: 200px;
    }

    .video--large {
        max-width: 736px;
        width: 736px;
        height: auto;
        min-height: 500px;
    }
}

/* Laptop 1024px
@media (min-width: 1024px) {
    .section__header {
        min-width: 734px;
    }

    .videos__content__extra {
        max-width: 992px;
    }

    .play .activities__list li {
        background-color: var(--color-funpurple);
    }
} */

/* Desktop 1440 */
@media (min-width: 1024px) {
    .section__header {
        min-width: 1024px;
    }

    .videos__content {
        padding-left: 0;
        padding-right: 0;
        width: 1024px;
    }

    .videos__content__main,
    .videos__content__extra {
        width: calc(50% - (var(--gap-small)));
    }

    .videos__content__main {
        align-self: flex-start;
    }

    .card-m a {
        width: 100%;
    }

    .video--large {
        width: 100%;
        height: auto;
        min-height: 500px;
    }

    .video--small {
        max-width: 240px;
        width: 240px;
    }

    .card-s {
        max-width: 240px;
    }

    .card-s__image.tiktok {
        height: 246px;
        max-width: 238px;
    }

    .card-s__image.tiktok iframe {
        height: 246px;
        max-width: 238px;
    }

    .card-s__content {
        padding: 12px;
    }
}